* {
  margin: 0;
  padding: 0;
}

.background_opacity{
	position: fixed;
	z-index: -10;
	top: 0; left: 0; right: 0; bottom: 0;
	background-color: rgba(255, 255, 255, 0.3); /* L'opacite se regle ici */
}


h1 {
	font-family:Candara;
	font-size:30px;
	color:green;
	text-align:center;
	font-weight:bold;
	padding : 20px;
	margin: 10px;
}
	
h2 {
	font-family:Candara;
	font-size:24px;
	color:maroon;
	/*padding: 10px 15px;*/
}

body{
	background-image: url(file://C:/Users/Manon/Desktop/Pierreetmoi.jpg);
	background-size: cover;
}

.texte{
	font-family:Calibri;
	width: 300px;
	margin-left: 60px;
	border: 3px none grey;
	padding: 10px 15px;
	/*color: white*/
}

p, ul {
	padding: 10px 15px;
}

.programme{
	margin-left:750px;
	font-family: Calibri, sans-serif;
}

table{
	
}

thead th{
	background: teal;
	color: #FFF;
	text-transform: uppercase;
}

th, td{
	padding:10px;
	width: 33.33%;
}

table tbody {
	border: 3px solid teal;
}

td{
	background : rgba(192,192,192,0.7);
}

